{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
<style>
  #blog {
    height: 80%;
  }
  #texto-blog {
    margin: 0px 20px 20px 20px;
  }
</style>

    {% if user.is_authenticated %}
    <a href="{% url 'home' %}" class="navegador">Volver a Home</a>
    <a href="{% url 'update_profile' user.id %}" class="navegador">Editar Perfil</a>
    {% else %}
      <a href="{% url 'login' %}" class="navegador"><p>Iniciar Sesión</p></a>
      <a href="{% url 'create_user' %}" class="navegador"><p>Crear Cuenta</p></a>
    {% endif %}
    </nav>
  </header>
  <div id="cuerpo">
    <div id="cuadricula">
      <div id="blog">
        <div id="texto-blog"> 
          <h2>Mi Perfil</h2>
            <img id="blog-img" src="{{ object.avatar_set.first.imagen.url }}"/>
            <p>Nombre: {{object.first_name}}</p>
            <p>Apellido: {{object.last_name}}</p>
            <p>Correo electronico: {{object.email}}</p>
            <p>Nombre de Usuario: {{object.username}}</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>  
{% endblock %}   