{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
<style>
  .navegador {
    width: 30%;
  }
  #blog {
    height: 80%;
    width: 60%;
  }
  #texto-blog {
    margin: 0px 20px 20px 20px;
  }
</style>
  </header>
  <div id="cuerpo">
    <div id="cuadricula">
      <div id="blog">
        <div id="texto-blog"> 
            <h2 id="iniciar-sesion">Iniciar Sesión</h2>
            <form method="POST">

                {% csrf_token %}
                {{form.as_p}}

                <button id="submit" type="submit">Iniciar Sesión</button>

            </form>
            <p>o</p><a class="botones" href="{% url 'create_user' %}"><button type="button">Crear cuenta</button></a>
        </div>
      </div>
    </div>
  </div>
</body>  
{% endblock %}
    

   