{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
<style>
  .navegador {
    width: 30%;
  }
  #blog {
    height: 80%;
    width: 60%;
  }
  #texto-blog {
    margin: 0px auto;
  }
</style>
    <nav>
        <a href="{% url 'home' %}" class="navegador">Volver a Pagina Principal</a>
    </nav>
  </header>
  <div id="cuerpo">
    <div id="cuadricula">
      <div id="blog">
        <div id="texto-blog"> 
            <h2 id="iniciar-sesion">Has cerrado sesión</h2>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}