{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
<style>
  .navegador {
    width: 30%;
  }
  #blog {
    height: 80%;
  }
  #texto-blog {
    margin: 0px 20px 20px 20px;
  }
</style>
    <nav>
        <a href="{% url 'home' %}" class="navegador">Volver a Pagina Principal</a>
    </nav>
  </header>
  <div id="cuerpo">
    <div id="cuadricula">
      <div id="blog">
        <div id="texto-blog"> 
            <h2 id="iniciar-sesion">Crear Cuenta</h2>
            <form method="POST">
              {% csrf_token %} 
              {{form.as_p}}
              <br>
              <input type="submit" value ="Crear Cuenta"/>
            </form>
        </div>
      </div>
    </div>
  </div>
</body>  
{% endblock %}