{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
  <style>
    .navegador {
      width: 80%;
    }
    #cuadricula {
      width: 50%;
    }
    #blog {
      height: 80%;
      width: 100%;
      flex-direction: column;
    }
    #texto-blog {
      margin: 0px 20px 20px 20px;
    }
    #imagenes-about {
      display: flex;
      width: 80%;
      justify-content: space-around;
      margin: 20px auto;
    }
    img#imagenes-about {
      width: 40%;
    }
  </style>
  <div id="navegador">
    {% if user.is_authenticated %}
    
      <a href="{% url 'home' %}" class="navegador">Volver a Página Principal</a>
    {% else %}
      <a href="{% url 'login' %}" class="navegador"><p>Iniciar Sesión</p></a>
      <a href="{% url 'create_user' %}" class="navegador"><p>Crear Cuenta</p></a>
      <a href="{% url 'home' %}" class="navegador"><p>Volver a Página Principal</p></a>
    {% endif %}
</div>
</nav>
  </header>
    <div id="cuerpo">
      <div id="cuadricula">
        <div id="blog">
          <div id="texto-blog">
            <h2><strong>MyCoderSpace</strong></h2> 
            <p>Es un proyecto de Red Social tipo Blog enfocado a programadores donde pueden compartir su día a día o discutir sobre sus proyectos.</p>
            <br>
            <p>Fue creado por:</p>
          </div>
          <ul>
            <li>Alejandro Barrios (izq), 30 años de edad, graduado en La Universidad del Zulia, Venezuela en Ingeniería Mecánica en el 2013</li>
            <p>y</p>
            <li>Alvaro Marcano (der), 30 años de edad, graduado en La Universidad del Zulia, Venezuela en Medicina en el 2016</li>
          </ul>
          <div id="imagenes-about">
            <img src="https://avatars.githubusercontent.com/u/105756366?v=4">
            <img src="https://avatars.githubusercontent.com/u/97192729?v=4">
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</body>
</html>