{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
   
<h1>Lo que Bloggean los Coders</h1>

<a href="{% url 'create' %}"><p>Crear un nuevo Blog</p></a>

{% if object_list %}
    {% for blog in object_list %}
<li>
    <a href="{% url 'detail' blog.id %}">{{blog.titulo}}</a>
    {% if user.is_authenticated %}
        <a href="{% url 'delete' blog.id %}">Borrar</a>
        <a href="{% url 'update' blog.id %}">Actualizar</a>
    {% endif %}
</li>
    {% endfor %}
    {% else %}
<h1> No hay blogs</h1>
    {% endif %}

{% endblock %}