{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
<style>
.navegador {
  width: 80%;
}
#blog {
  height: 60%;
}
#texto-blog {
  margin: 20px;
}
#titulo {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 800;
}
#sub_titulo {
  font-style: italic;
  margin-top: 0px;
}
#cuerpo-blog2 {
  margin-top: 20px;
}
#imagen {
  width: 100%;
}
</style>
<div id="navegador">
  {% if user.is_authenticated %}
  
    <a href="{% url 'home' %}" class="navegador">Volver a Página Principal</a>
  {% else %}
    <a href="{% url 'login' %}" class="navegador"><p>Iniciar Sesión</p></a>
    <a href="{% url 'create_user' %}" class="navegador"><p>Crear Cuenta</p></a>
    <a href="{% url 'home' %}" class="navegador"><p>Volver a Página Principal</p></a>
  {% endif %}
</div>
</nav>
</header>
    <div id="cuerpo">
      <div id="cuadricula">
        <div id="blog">
          <div id="texto-blog"> 
            <p id="autor">Por: {{object.autor}}</p>
            <p id="fecha">{{object.fecha_creacion}}</p>
            <p id="titulo">{{object.titulo}}</p>
            <p id="sub_titulo">{{object.sub_titulo}}</p>
            <img id="imagen" src='{{object.imagen}}'>
            <p id="cuerpo-blog2">{{object.cuerpo|safe}}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}