{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
<style>
  .navegador {
    width: 80%;
  }
  #cuerpo {
    height: 100%;
    width: 100%;
  }
  #cuadricula {
    height: 100%;
    width: 80%;
  }
  #blog {
    height: 100%;
    width: 60%;
  }
  #texto-blog {
    margin: 10px;
  }
  h2 {
    margin: 0px auto;
  }
  #boton-guardar {
    display: block;
  }
</style>
  <div id="navegador">
      {% if user.is_authenticated %}
      
        <a href="{% url 'home' %}" class="navegador">Volver a Página Principal</a>
      {% else %}
        <a href="{% url 'login' %}" class="navegador"><p>Iniciar Sesión</p></a>
        <a href="{% url 'create_user' %}" class="navegador"><p>Crear Cuenta</p></a>
        <a href="{% url 'home' %}" class="navegador"><p>Volver a Página Principal</p></a>
      {% endif %}
  </div>
    </nav>
  </header>
    <div id="cuerpo">
        <div id="cuadricula">
            <div id="blog">
                <div id="texto-blog"> 
                    <h2>Crear Blog</h2>
                      <form method="post">
                        {% csrf_token %}
                        <label><p>Titulo</p> {{ form.titulo }}</label>
                        <label><p>Subtitulo</p>{{ form.sub_titulo }}</label>
                        <label><p>Cuerpo</p><span id ="form-cuerpo">{{form.cuerpo}}{{form.media}}</span></label>
                        <label><p>URL de Imagen</p>{{ form.imagen }}</label>
                        <input id="boton-guardar" type="submit" value="Guardar">
                      </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}