{% extends "index.html" %}

{% load static %}

{% block contenidoDinamico %}
</header>
  <div id="cuerpo">
    <div id="cuadricula">
      <div id="blog">
        <div id="texto-blog"> 
         <h2>
            ¡Bienvenido a MyCoderSpace!
        </h2> 
        <h4>

            Sitio web dedicado a compartir buenas prácticas de la comunidad coder

        </h4>
            <a href="{% url 'home' %}" id="ir-a-blog">Ir a lista de Blogs</a>
        </div>
      </div>
    </div>
  </div>
</body>  
{% endblock %}